{% import "_includes/forms" as forms %}

<h2>{{ "Settings"|t('form-builder') }}</h2>

{{ forms.textField({
    label: "Mechant ID"|t('form-builder'),
    id: 'integration-merchant-id',
    name: 'settings[merchantId]',
    value: entry.settings.merchantId is defined ? entry.settings.merchantId,
    autocorrect: false,
    autocapitalize: false,
}) }}

{{ forms.textField({
    label: "Mechant Key"|t('form-builder'),
    id: 'integration-merchant-key',
    name: 'settings[merchantKey]',
    value: entry.settings.merchantKey is defined ? entry.settings.merchantKey,
    autocorrect: false,
    autocapitalize: false,
}) }}

{{ forms.selectField({
    label: "Type"|t('form-builder'),
    id: 'integration-merchant-type',
    name: 'settings[type]',
    value: entry.settings.type is defined ? entry.settings.type,
    options: [
        {label: 'Credit Card', value: 'CreditCard'},
        {label: 'ECheck / ACH', value: 'ECheckACH'},
    ],
}) }}

{{ forms.textField({
    label: "Currency"|t('form-builder'),
    id: 'integration-currency',
    name: 'settings[currency]',
    value: entry.settings.currency is defined ? entry.settings.currency,
    autocorrect: false,
    autocapitalize: false,
}) }}

{#<div class="widget full-col">#}
{#    <header class="pad">#}
{#        <h2>{{ "Details"|t('form-builder') }}</h2>#}
{#    </header>#}
{#    <div class="body">#}
{#        <ul class="list-dots theme-green">#}
{#            <li>{{ 'Category'|t('form-builder') }}: {{ entry.category }}</li>#}
{#            #}{#{% if entry.frontend %}#}
{#                #}{#<li>{{ 'Will display on the frontend'|t('form-builder') }}</li>#}
{#            #}{#{% endif %}#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
