<input type="hidden" name="type" value="{{ type }}">

<header class="hud-header">
    <h2>Talus Pay {{ 'Integration'|t('form-builder') }}</h2>
</header>

<div class="hud-body">
    <input type="hidden" name="category" value="payment">
    <input type="hidden" name="frontend" value="1">

    <div class="fb-field" id="field-name">
        <div class="input-hint">NAME</div>
        <div class="input">
            <input type="text" class="data-required" data-hint="NAME" name="name" id="integration-name">
        </div>
    </div>

    <div class="fb-field" id="field-handle">
        <div class="input-hint">HANDLE</div>
        <div class="input">
            <input type="text" class="data-required" data-hint="HANDLE" name="handle" id="integration-handle">
        </div>
    </div>

    <div class="hud-section">
        <h3>{{ 'Settings'|t('form-builder') }}</h3>
    </div>

    <div class="fb-field" id="field-id">
        <div class="input-hint">USERNAME</div>
        <div class="input">
            <input type="text" class="data-required" data-hint="USERNAME" name="settings[merchantId]" id="integration-id">
        </div>
    </div>

    <div class="fb-field" id="field-key">
        <div class="input-hint">PASSWORD</div>
        <div class="input">
            <input type="text" class="data-required" data-hint="PASSWORD" name="settings[merchantKey]" id="integration-key">
        </div>
    </div>

    <div class="hud-section">
        <h3>{{ 'Options'|t('form-builder') }}</h3>
    </div>

    <div class="fb-field" id="field-type">
        <div class="input-hint">TYPE</div>
        <div class="select">
            <select name="settings[type]">
                <option value="CreditCard">Credit card</option>
                <option value="ECheckACH">ECheck / ACH</option>
            </select>
        </div>
    </div>


    <div class="fb-field" id="field-currency">
        <div class="input-hint">CURRENCY</div>
        <div class="input">
            <input type="text" name="settings[currency]" value="USD">
        </div>
    </div>

</div>

<footer class="hud-footer">
    <div class="buttons">
        <input type="button" class="btns btn-modal cancel" value="{{ 'Cancel'|t('form-builder') }}">
        <input type="submit" class="btns btn-modal submit" value="{{ 'Save'|t('form-builder') }}"/>
    </div>
</footer>
