{% import "form-builder/_includes/_components" as components %}

{% set templatePath = 'form-builder-integrations/types/taluspay/fields/' %}
<section class="cmp-tout-alt" id="integration-{{ type }}-{{ index }}" data-type="{{ type }}">

    <input type="hidden" name="integrations[{{ type }}][integrationId]" value="{{ integration.id }}">

    <header>
        <div class="titlebar">
            <span class="tout-title">
                {% include 'form-builder-integrations/icons/integrations-' ~ type ignore missing %}
                <span class="type-title">{{ type }}</span>
                <a href="#" class="delete-btn" data-target="integration-{{ type }}-{{ index }}">Remove</a>
            </span>
            <div class="integration-info">
                <span class="integration-title">{{ integration.name }}</span>
                <div class="status-container">
                    {% if integration.status == 'enabled' %}
                        <div class="status on" title="Enabled"></div>
                    {% else %}
                        <div class="status off" title="Disabled"></div>
                    {% endif %}
                    <div class="status-title">{{ integration.status |pascal }}</div>
                </div>
            </div>
        </div>
    </header>

    <div class="body">
        <div class="fields">
            {% import "_includes/forms" as forms %}

            {% include templatePath ~ 'transaction-type' ignore missing %}

            {% if integration.settings.type is defined and integration.settings.type == "ECheckACH" %}
                {% include templatePath ~ 'ach-aba-number' ignore missing %}
                {% include templatePath ~ 'ach-bank-account-number' ignore missing %}
                {% include templatePath ~ 'ach-amount' ignore missing %}
                {% include templatePath ~ 'ach-first-name' ignore missing %}
                {% include templatePath ~ 'ach-last-name' ignore missing %}

            {% else %}
                {% include templatePath ~ 'cc-number-field' ignore missing %}
                {% include templatePath ~ 'cc-cvc-field' ignore missing %}
                {% include templatePath ~ 'cc-expiration-field' ignore missing %}
                {% include templatePath ~ 'cc-amount-field' ignore missing %}

                {% include templatePath ~ 'cc-name-field' ignore missing %}
                {% include templatePath ~ 'cc-email-field' ignore missing %}
                {% include templatePath ~ 'cc-phone-field' ignore missing %}
            {% endif %}
        </div>
    </div>

</section>
