{% import "_includes/forms" as forms %}

{{ hiddenInput('type', type) }}

<h2>{{ type|capitalize }} {{ 'Integration'|t('form-builder') }}</h2>

{{ hiddenInput('category', 'payment') }}
{{ hiddenInput('frontend', '1') }}

{{ forms.textField({
    label: "Name"|t('form-builder'),
    id: 'integration-name',
    name: 'name',
    first: true,
    autocorrect: false,
    autocapitalize: false,
}) }}

{{ forms.textField({
    label: "Handle"|t('form-builder'),
    id: 'integration-handle',
    name: 'handle',
    autocorrect: false,
    autocapitalize: false,
}) }}

<h3>{{ 'Settings'|t('form-builder') }}</h3>

{{ forms.textField({
    label: "Merchant ID"|t('form-builder'),
    id: 'integration-id',
    name: 'settings[merchantId]',
    autocorrect: false,
    autocapitalize: false,
}) }}

{{ forms.textField({
    label: "Merchant Key"|t('form-builder'),
    id: 'integration-key',
    name: 'settings[merchantKey]',
    autocorrect: false,
    autocapitalize: false,
}) }}

{{ forms.textField({
    label: "Merchant PIN"|t('form-builder'),
    id: 'integration-pin',
    name: 'settings[merchantPin]',
    autocorrect: false,
    autocapitalize: false,
}) }}

<h3>{{ 'Options'|t('form-builder') }}</h3>

{{ forms.selectField({
    label: "Type"|t('form-builder'),
    id: 'integration-type',
    name: 'settings[type]',
    options: [
        { label: 'Credit Card', value: 'CreditCard' },
        { label: 'ECheck / ACH', value: 'ECheckACH' }
    ]
}) }}


{{ forms.selectField({
    label: "Test Mode"|t('form-builder'),
    id: 'integration-testMode',
    name: 'settings[testMode]',
    options: [
        { label: 'Disabled', value: 'false' },
        { label: 'Enabled', value: 'true' }
    ]
}) }}

{{ forms.textField({
    label: "Currency"|t('form-builder'),
    id: 'integration-currency',
    name: 'settings[currency]',
    autocorrect: false,
    autocapitalize: false,
    value: 'USD'
}) }}

<div class="buttons">
    <input type="button" class="btn cancel" value="{{ 'Cancel'|t('form-builder') }}">
    <input type="submit" class="btn submit" value="{{ 'Save'|t('form-builder') }}"/>
</div>
